<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.sch.smktelkom.www.latihancrud">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LatihanCRUD"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="id.sch.smktelkom.www.latihancrud.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="id.sch.smktelkom.www.latihancrud.MainActivity" />
        <activity android:name="id.sch.smktelkom.www.latihancrud.ShareActivity" />
        <activity android:name="id.sch.smktelkom.www.latihancrud.Agenda" />
        <activity android:name="id.sch.smktelkom.www.latihancrud.BuatData" />
        <activity android:name="id.sch.smktelkom.www.latihancrud.LihatData" />
        <activity android:name="id.sch.smktelkom.www.latihancrud.UbahData"></activity>
    </application>

</manifest>